@import '../../variables.scss';

.nav {
    &__detail {
        margin: 40px 0 0;
        padding: 0 16px 0;

        @media screen and (min-width: 600px) {
            margin: 0;
        }
    }
 
    &__logo-name {
        font-size: 28px;
        color: $text-color;
        letter-spacing: 1px;

        @media screen and (min-width: 992px) {
         font-size: 38px;
        }
    }

    &__logo-descr {
        font-size: 18px;
        font-weight: 400;
        color: $text-color;
        letter-spacing: 1px;

        @media screen and (min-width: 992px) {
         font-size: 24px;
        }
    }

    &__cv-link {
        color: $main-color;
        font-weight: 700;
        margin: 16px 0;
        padding: 7px 26px;
        border-radius: 5px;
        background: $secondary-main-color-gradient;
        color: $main-color;
        border: $secondary-main-color;
        letter-spacing: 1px;
        &:hover {
            color: $main-color-bg;
            box-shadow: 3px 3px 8px 1px $main-color;
            padding: 9px 28px;
            transition: all .3s ease;
        }
    }

    &__social {
        margin: 24px 0;
    }

    &__icon {
        margin: 8px;
    }
    &__icon svg {
        font-size: 24px;
    }
    &__telegram svg {
        color: $telegram-icon;
    }
    &__whatsapp svg {
        color: $whatsapp-icon;
    }
    &__linkedin svg {
        color: $linkedin-icon;
    }
    &__instagram svg {
        color: $instagram-icon;
    }
    &__mail svg {
        color: $secondary-main-color;
    }

    &__contact-item {
        line-height: 24px;
        color: $text-color;
    }
}

// ion-icon {
// //     font-size: 24px;
// //     color: $text-color;
// // }