@import '../../variables.scss';

.App-testimonials {
    padding: 40px 16px 40px;
    color: $text-color;
    margin: -1px 0 0;
}

.testimonials__main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

    @media screen and (min-width: 992px) {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
}

.testimonials__map-block {
    flex: 1;
    display: flex;
    display: none;
    width: 100%;
    opacity: 0.9;

    object-fit: cover;

    @media screen and (min-width: 767px) {
        display: block;
    }
}

.testimonials__map-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.ttestimonials__map-block-list {
    position: relative;
}

.testimonials__map-block-list-item {
    position: absolute;
    cursor: pointer;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.item__1 {
    top: 26%;
    left: 15%;

    @media screen and (min-width: 992px) {
        top: 43%;
        left: 12%;
    }

    @media screen and (min-width: 1200px) {
        top: 38%;
    }

    @media screen and (min-width: 1600px) {
        top: 35%;
    }
}

.item__2 {
    top: 33%;
    left: 23%;

    @media screen and (min-width: 992px) {
        top: 51%;
        left: 16%;
    }
}

.item__3 {
    top: 31%;
    left: 47%;

    @media screen and (min-width: 992px) {
        top: 48%;
        left: 33%;
    }
}

.item__4 {
    top: 37%;
    left: 56%;

    @media screen and (min-width: 992px) {
        top: 55%;
        left: 39%;
    }
}

.item__5 {
    top: 43%;
    left: 71%;

    @media screen and (min-width: 992px) {
        top: 61%;
        left: 50%;
    }
}

.item__6 {
    top: 50%;
    left: 76%;

    @media screen and (min-width: 992px) {
        top: 67%;
        left: 54%;
    }

    @media screen and (min-width: 1200px) {
        top: 75%;
        left: 56%;
    }
}

.item__7 {
    top: 50%;
    left: 50%;

    @media screen and (min-width: 992px) {
        top: 67%;
        left: 36%;
    }

    @media screen and (min-width: 1200px) {
        top: 75%;
        left: 37%;
    }
}

.item__8 {
    top: 45%;
    left: 33%;

    @media screen and (min-width: 992px) {
        top: 63%;
        left: 24%;
    }

    @media screen and (min-width: 1200px) {
        top: 68%;
        left: 25%;
    }
}

.testimonials__head-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 40px 15px;
    text-align: center;

    background: rgba(140, 26, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(140, 26, 255, 0.3);
}

.testimonials__head-block.light {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.testimonials__head-title-block {
    padding: 16px 0;
    margin: 0 0 24px;
}

.testimonials__head-title {
    font-size: 24px;
    letter-spacing: 1px;
    color: $text-color;

    @media screen and (min-width: 992px) {
        font-size: 32px;
    }
}

.testimonials__head-title.light {
    color: $test-bg;
}

.testimonials__carousel-block {
    margin: 0 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 767px) {
        display: none;
    }
}

.testimonial__carousel-item {
    background-color: $services-item-bg;
    width: 270px;
    max-height: 300px;
    padding: 24px;
    margin: 8px 0 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    transition: all .3s ease-in-out;

    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.testimonial__carousel-item.light {
    background: rgba(170, 170, 170, 0.24);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(170, 170, 170, 0.3);
}

.testimonial__carousel-content {

    p {
        line-height: 24px;
        letter-spacing: .5px;
        margin: 16px 0;
    }
}

.testimonials__carousel-text.light,
.testimonials__carousel-title.light {
    color: $test-bg;
}

.testimonials__carousel-title {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.testimonials__btns {
    flex-direction: row;

    div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $text-color;
        margin: 1rem;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        svg {
            width: 20px;
            height: 20px;
            color: $main-color-bg;
        }

        &:hover {
            background: $main-color-bg;

            svg {
                color: $text-color;
            }
        }
    }
}


.testimonials__open-btn-block {
    @media screen and (min-width: 992px) {
        display: none;
    }
}


.testimonials__main-block {
    @media screen and (min-width: 992px) {
        display: flex;
    }
}

.appeal {
    padding: 0 16px;

    @media screen and (min-width: 992px) {
        max-width: 30%;
    }
}

.appeal__title {
    margin: 0 0 24px;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 600;
    background-image: $main-color-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (min-width: 992px) {
        font-size: 32px;
    }
}

.appeal__text {
    margin: 0 0 24px;
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 24px;
    font-weight: 300;
}

.appeal__text.light {
    color: $test-bg;
}

.contact-me__btn {
    padding: 5px 36px;
    font-size: 18px;
    background: $main-color-gradient;
    border-radius: 5px;
    border: 2px solid $secondary-main-color;
    color: $secondary-main-color;
    transition: all .3s ease;

    &:hover {
        color: $main-color-bg;
        box-shadow: 5px 5px 10px $main-color-bg;
        transform: scale(1.03);
    }
}

.contact-me__btn.light {
    &:hover {
        box-shadow: 5px 5px 10px $text-color;
        transform: scale(1.03);
    }
}