@import '../../variables.scss';

.App-testimonials {
    // background-color: $main-color-bg;
    padding: 40px 16px 40px;
    color: $text-color;
    margin: -1px 0 0;
}

.testimonials__main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.testimonials__map-block {
    flex: 1;
    display: flex;
    display: none;

    img {
        width: 100%;
        height: 100%;
    }
}

.testimonials__head-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $secondary-main-color-gradient;
    border-radius: 20px;
    padding: 40px 15px;
    text-align: center;
    border: .5px solid rgba($color: $accent-color, $alpha: .5);
}

.testimonials__head-title-block {
    padding: 16px 0;
    margin: 0 0 24px;
}

.testimonials__head-title {
    font-size: 24px;
    letter-spacing: 1px;
    color: $text-color;

    @media screen and (min-width: 992px) {
        font-size: 32px;
    }
}

.testimonials__carousel-block {
    margin: 0 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial__carousel-item {
    background-color: $services-item-bg;
    width: 270px;
    height: 270px;
    padding: 24px;
    margin: 8px 0 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    transition: all .3s ease-in-out;

    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.testimonial__carousel-content {

    p {
        line-height: 24px;
        letter-spacing: .5px;
        margin: 16px 0;
    }
}

.testimonials__carousel-title {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.testimonials__btns {
    flex-direction: row;

    div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $text-color;
        margin: 1rem;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        svg {
            width: 20px;
            height: 20px;
            color: $main-color-bg;
        }

        &:hover {
            background: $main-color-bg;
    
            svg {
                color: $text-color;
            }
        }
    }
}


.testimonials__open-btn-block {
    @media screen and (min-width: 992px) {
        display: none;
    }
}


.testimonials__main-block {
    @media screen and (min-width: 992px) {
        display: flex;
    }
}

.appeal {
    padding: 0 16px;

    @media screen and (min-width: 992px) {
        max-width: 30%;
    }
}

.appeal__title {
    margin: 0 0 24px;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 600;
    // color: $main-color;
    background-image: $main-color-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (min-width: 992px) {
        font-size: 32px;
    }
}

.appeal__text {
    margin: 0 0 24px;
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 24px;
    font-weight: 300;
}


.contact-me__btn {
    padding: 5px 36px;
    font-size: 18px;
    background: $main-color-gradient;
    border-radius: 5px;
    border: 2px solid $secondary-main-color;
    color: $secondary-main-color;
    transition: all .3s ease;

    &:hover {
        color: $main-color-bg;
        box-shadow: 5px 5px 10px $main-color-bg;
        transform: scale(1.05);
    }
}