@import '../../variables.scss';

.counter {
    padding: 0 16px;
}

.counter__item-block {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    background: $secondary-main-color-gradient;
    // opacity: 0.8;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: 992px) {
        flex-wrap: nowrap;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }
}