@import '../../variables.scss';

.counter {
    padding: 0 16px;
}

.counter__item-block {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    padding: 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background: rgba(140, 26, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(140, 26, 255, 0.3);

    @media screen and (min-width: 992px) {
        flex-wrap: nowrap;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }
}