@import '../../variables.scss';

.counter {
    padding: 0 16px;
}

.counter__item-block {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    padding: 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background: rgba(140, 26, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(140, 26, 255, 0.3);

    @media screen and (min-width: 992px) {
        flex-wrap: nowrap;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }
}

// .counter__item-block.light {
//     background: rgba(212, 205, 205, 0.1);
//     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
//     backdrop-filter: blur(3.6px);
//     -webkit-backdrop-filter: blur(3.6px);
//     border: 1px solid rgba(212, 205, 205, 0.29);
// }

.counter__item {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter__item-title {
    display: flex;
    color: $main-color;
    opacity: .8;
    font-size: 28px;
    font-weight: 200;

    @media screen and (min-width: 767px) {
        font-size: 38px;
    }

    @media screen and (min-width: 1300px) {
        font-size: 48px;
    }
}

.counter__item-title.light {
    color: $secondary-main-color;
}

.counter__item-title-down {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;

    @media screen and (min-width: 767px) {
        font-size: 20px;
    }

    @media screen and (min-width: 1300px) {
        font-size: 22px;
    }
}

.counter__item-icon-block {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 15px;
}

.counter__item-icon {
    display: flex;
    font-size: 38px;
    color: $text-color;

    @media screen and (min-width: 767px) {
        font-size: 54px;
    }

    @media screen and (min-width: 992px) {
        font-size: 64px;
    }
}

.counter__item-icon.light {
    color: $test-bg;
}