@import '../../variables.scss';

.nav {
    background-color: $main-color-bg;
    width: 80vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 55px 0 30px;
    top: 0;
    left: -100vw;
    transition: all 1s ease-out;
    z-index: 5;

    &.active {
        left: 0;
    }

    @media screen and (min-width: 992px) {
        width: 100vw;
        top: -100vh;
        left: 0;

        &.active {
            top: 0;
        }
    }
}

.nav.light {
    background: $main-color-bg-light2;
    // opacity: 0.9;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav__head-block {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 16px 0;
    padding-top: 50px;

    @media screen and (min-width: 767px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
    }

    @media screen and (min-width: 992px) {
        text-align: start;
        justify-content: flex-start;
        gap: 150px;
    }

    @media screen and (min-width: 1300px) {
        gap: 0;
    }
}

.nav__list-head-block {
    display: flex;
    align-items: flex-start;
}

.nav__list {
    margin: 0 0 16px;
    display: flex;
    flex-direction: column;
}

.nav__list-item-link {
    font-size: 24px;
    font-weight: 700;
    padding: 16px;
    color: $main-color;
    text-transform: uppercase;

    &:hover {
        color: $accent-color;
    }
}

.nav__list-item-link.light {
    color: $test-bg;
    &:hover {
        color: $accent-color;
    }
}

.nav__text-media-block {
    display: none;

    @media screen and (min-width: 1300px) {
        display: block;
    }
}

.nav__text-media {
    font-size: 18px;
    line-height: 27px;
    color: $secondary-main-color;
    letter-spacing: 10px;
    text-transform: uppercase;
    transform: rotate(270deg);
    transform-origin: top right;
    margin: 0 40px 0;
}