@import '../../variables.scss';

.translate {
    width: 35vw;
    height: 20vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 55px 0 30px;
    right: 0;
    top: -50vw;
    transition: all .8s ease-in-out;
    z-index: 5;
    border-radius: 0 0 20px 20px;

    &.active {
        top: 0;
    }

    @media screen and (min-width: 767px) {
        width: 20vw;
        height: 15vh;
    }

    @media screen and (min-width: 992px) {
        width: 15vw;
        height: 30vh;
    }

    @media screen and (min-width: 1300px) {
        width: 10vw;
        height: 20vh;
    }
}

.translate.light {
    background: $main-color-bg-light;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    // border: 1px solid rgba(255, 255, 255, 0.18);
}

.translate__head-block {
    flex-direction: column;
    gap: 10px;
    margin: 20px 10px;
}

.translate__main-block {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
        margin: 5px;

        @media screen and (min-width: 992px) {
            margin: 7px;
        }
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        background: transparent;
        filter: grayscale(100);

        &:hover {
            filter: grayscale(0);
        }
    }

    button {

        width: 20px;
        height: 20px;
        border: none;
        background: transparent;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

        @media screen and (min-width: 992px) {
            font-size: 18px;

            width: 25px;
            height: 25px;
        }
    }

    span {
        color: $main-color;
        padding: 0 5px;
    }

    button.active img {
        filter: grayscale(0);
    }
}

.light__block {
    p {
        color: $secondary-main-color;
        margin: -7px 7px 7px;
    }
}

#checkboxInput {
    display: none;
}

.toggleSwitch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 20px;
    background-color: rgb(206, 206, 206);
    border-radius: 40px;
    cursor: pointer;
    transition-duration: .3s;
}

.toggleSwitch::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 50%;
    left: 0px;
    background: conic-gradient(rgba(26, 26, 26, 0.555), white, rgba(26, 26, 26, 0.555), white, rgba(26, 26, 26, 0.555));
    border-radius: 40px;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.281);
}

#checkboxInput:checked+.toggleSwitch::after {
    transform: translateX(100%);
    transition-duration: .3s;
}

#checkboxInput:checked+.toggleSwitch {
    background: $main-color;
    opacity: 0.9;
    transition-duration: .3s;
}

.iconMoon {
    position: absolute;
    left: 37%;

    @media screen and (min-width: 1200px) {
        left: 39%;
    }

    @media screen and (min-width:1600px) {
        left: 37%;
    }
}

.iconSun {
    position: absolute;
    left: 53%;

    @media screen and (min-width: 1200px) {
        left: 52%;
    }

    @media screen and (min-width:1600px) {
        left: 53%;
    }
}