@import '../../variables.scss';

.App-about-me {
    margin: -1px 0 0;
}

.about-me__head-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0 16px;

    @media screen and (min-width: 992px) {
        padding-bottom: 110px;
    }

    @media screen and (min-width: 1300px) {
        padding-bottom: 100px;
    }
}

.about-me__card {
    margin-top: -125px;

    @media screen and (min-width: 992px) {
        margin-top: 0;
        position: absolute;
        right: 8%;
        top: -3%;
    }

    @media screen and (min-width: 1300px) {
        margin-top: 0;
        position: absolute;
        right: 15%;
        top: -3%;
    }
}

.about-me__img {
    width: 180px;
    height: auto;
    border-radius: 20px;
    filter: grayscale(100%);

    @media screen and (min-width: 992px) {
        width: 250px;
    }
}

.about-me__frame {
    position: relative;
    top: -225px;
    left: 10px;
    display: block;
    width: 160px;
    height: 240px;
    border: 2px solid;
    border-radius: 20px;
    border-color: $main-color;
    background-color: transparent;

    // border-color: linear-gradient(120deg, $menuOpen-btn-color, $baner-color) border-box;
    // background: linear-gradient(120deg, $menuOpen-btn-color, $baner-color) border-box;

    @media screen and (min-width: 992px) {
        width: 225px;
        height: 343px;
        top: -318px;
        left: 12px;
    }
}

.about-me__title-block {
    max-width: 90%;

    @media screen and (min-width: 992px) {
        display: none;
    }
}

.about-me__title {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .5px;
    margin-top: -145px;
    color: $text-color;
}


.about-me__desctop-line-block {
    display: flex;
    // width: calc(100% - 250px);
    border: 2px solid;
    border-image-source: linear-gradient(135deg, #f5cf02, #d39400);
    // height: 50px;
    margin: -200px 0 0;
    border-image-slice: 1;
    border-top: 0;
    border-left: 0;
    animation: line 2s ease-in-out forwards;
    display: none;
}


@keyframes line {
    from {
        height: 0;
        width: 0;
        transform: scaleX(0);
    }

    to {
        height: 50px;
        width: calc(100% - 250px);
        transform: scaleX(100%);
    }
}