@import '../../variables.scss';

.about-me__head-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0 16px;

    @media screen and (min-width: 992px) {
        padding-bottom: 110px;
    }

    @media screen and (min-width: 1300px) {
        padding-bottom: 100px;
    }
}

.about-me__card {
    margin-top: -90px;
    z-index: 20;

    @media screen and (min-width: 992px) {
        margin-top: 0;
        position: absolute;
        right: 8%;
        top: -3%;
    }

    @media screen and (min-width:1200px) {
        right: 12%;
    }

    @media screen and (min-width: 1300px) {
        margin-top: 0;
        position: absolute;
        right: 14%;
        top: -5%;
    }
}

.about-me__img {
    width: 205px;
    height: auto;
    border-radius: 20px;

    @media screen and (min-width: 992px) {
        width: 250px;
    }
}

.about-me__frame {
    position: relative;
    top: -300px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 185px;
    height: 310px;

    @media screen and (min-width: 992px) {
        width: 225px;
        height: 380px;
        top: -360px;
        left: 12px;
    }

    @media screen and (min-width: 1300px) {
        left: 5%;
        top: 5%;
        position: absolute;
    }
}

.frame {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    position: relative;
    display: block;

    overflow: hidden;
}

@keyframes frame {
    0% {
        border-bottom: 2px solid transparent;
        border-top: 2px solid transparent;
        width: 0%;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        height: 0%;
    }

    100% {
        border-bottom: 2px solid $main-color;
        border-top: 2px solid $main-color;
        width: 100%;
        border-left: 2px solid $main-color;
        border-right: 2px solid $main-color;
        height: 100%;
    }
}

.about-me__title-block {
    max-width: 90%;

    @media screen and (min-width: 992px) {
        display: none;
    }
}

.about-me__title {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .5px;
    margin-top: -240px;
}