$main-color: #f5cf02;
$secondary-main-color: #8c1aff;
$text-color: #aaaaaa;
$main-color-bg: #0b152d;
$main-color-bg-light: rgba(255, 255, 255, 0.25);
$main-color-bg-light2: rgb(255, 255, 255);
$test-bg: #333333;
$test-light-bg: #fff;
$test-light-dark-bg: #edf2f8; 
$accent-color: #e53935;
$contact-line: #757575;
$services-item-bg: #424242;

$main-color-gradient: linear-gradient(135deg, #f5cf02, #d39400);
$secondary-main-color-gradient: linear-gradient(135deg, #8c1aff, #400c8c);
$main-color-bg-gradient: linear-gradient(135deg, #0b152d, #000000);

$telegram-icon: #039BE5;
$whatsapp-icon: #40C351;
$linkedin-icon: #0550fe;
$instagram-icon: #a418e6;